{% extends "base.html" %}

{% block title %}
 Contacts
{% end %}

{% block scripts %}
{% end %}

{% block welcome %}
 <h2>Contacts</h2>
 <h6>Thanks!</h6>
{% end %}

{% block heading %}
{% end %}

{% block main %}
 <h4>Email</h4>
 We would like to hear any suggestion, critic or complaint you may have as we enjoy to do something useful. Please write us at <a href="mailto:team@opinoid.com">team@opinoid.com</a>. Appreciated.
{% end %}

{% block notices %}
{% end %}

{% block thumbnails %}
{% end %}
