{% extends "base.html" %}

{% block title %}
 Credit
{% end %}

{% block scripts %}
{% end %}

{% block welcome %}
 <h2>Credits</h2>
 <h6>Very much needed!</h6>
{% end %}

{% block heading %}
{% end %}

{% block main %}
 <h4>Tornado</h4>
 an open source version of the scalable, non-blocking web server and tools that power FriendFeed<br /><br />
 <h4>MongoDB</h4>
 a scalable, high-performance, open source, document-oriented database<br /><br />
 <h4>Python Modules</h4>
 an interpreted, interactive, object-oriented, extensible programming language. We also use some external modules: pymongo, feedparser, pygeoip, tldextract<br /><br />
 <h4>memcached</h4>
 an in-memory key-value store for small chunks of arbitrary data (strings, objects) from results of database calls, API calls, or page rendering<br /><br />
 <h4>ArchLinux</h4>
 a lightweight and flexible Linux distribution that tries to Keep It Simple<br /><br />
 <h4>jQuery Plugins</h4>
 a fast, concise, library that simplifies how to traverse HTML documents, handle events, perform animations, and add AJAX. We also use the plugins: timeago<br /><br />
 <h4>Twitter Bootstrap</h4>
 simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions.<br /><br />
 This could not be a list of every single piece of technology we use, these are just the ones we spent more time with.
{% end %}

{% block notices %}
{% end %}

{% block thumbnails %}
{% end %}
