{% extends "base.html" %}

{% block title %}
 Privacy
{% end %}

{% block scripts %}
{% end %}

{% block welcome %}
 <h2>Privacy and similars</h2>
 <h6>We're trying to keep it short.</h6>
{% end %}

{% block heading %}
{% end %}

{% block main %}
 <h4>Promise</h4>
 Privacy is important. Our goal is to retain as little information on you as possible while still retaining the ability to provide reliable service and prevent abuse of server resources.<br /><br />
 We collect some user information from you when you login, but if you are concerned by the possibility that your data or username may reveal your identity, please use an alternative username or contact us to get some help.<br /><br />
 In general, we do not keep information which uniquely identifies you to your ISP. We do not log IP addresses. For troubleshooting, we may enable increased logging for brief periods of time. These extra logs are deleted immediately after they are used.<br /><br />
 <h4>Terms</h4>
 You are responsible for your use of the service, for any content you post to the service, and for any consequences thereof. The content you submit, post, or display will be able to be viewed by other users of the service and through third party services and websites. You should only provide content that you are comfortable sharing with others under these terms.<br /><br />
 What you say may be viewed all around the world instantly.
{% end %}

{% block notices %}
{% end %}

{% block thumbnails %}
 <li class="span3">
  <div class="thumbnail">
   <div class="caption">
    How many articles / comments / users we store at anytime?
   </div>
  </div>
 </li>
{% end %}
