<table class="table table-condensed">
 <thead>
  <tr>
   <th>Write</th>
   <th>To get</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>_emphasis_</td>
   <td><em>emphasis</em></td>
  </tr>
  <tr>
   <td>*strong*</td>
   <td><strong>strong</strong></td>
  </tr>
  <tr>
   <td>??citation??</td>
   <td><cite>citation</cite></td>
  </tr>
  <tr>
   <td>@code@</td>
   <td><code>code</code></td>
  </tr>
  <tr>
   <td>"linktext":http://bla</td>
   <td><a href="http://bla">linktext</a></td>
  </tr>
 </tbody>
</table>
